<!DOCTYPE html>
<html lang="en" ng-app="myApp">

  <head>
    <meta charset="utf-8">
    <title>{{ greeting }}</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
  </head>

  <body>

    <p>{{1 + 6}}<p>

    <p>Say something to the world <input type="text" ng-model="greeting" ng-init="greeting='Hello, '"></p>
    <p>{{ greeting }} world!</p>

    <br><hr>

    <input ng-model="name" type="text" placeholder="What is your name?">

    <h1>My name is: {{name}}</h1>

    <select ng-model="pets" class="" name="">
      <option value="cats">Cats</option>
      <option value="dogs">Dogs</option>
      <option value="cats and dogs">Cats and Dogs</option>
      <option value="neither">Neither</option>
    </select>
    <h3>I love {{ pets }}</h3>

    <br><hr>

    <p>1 + 2 = {{ 1 + 2 }}</p>
    <p>My name is {{ "Bojack" + "Horseman" }}</p>
    <p>The array [99, 43, 22] is {{ [99, 43, 22].length}} items long</p>

    <h3>Currency Filter</h3>
    <p>Your total is {{ 17.045467 | currency:"USD$":4 }}</p>
    <p>Your total is {{ 1750.045467 | currency }}</p>

    <br><hr>

    <div ng-controller="ForEachController">
      <ol>
        <li ng-repeat="name in names">{{ name }}</li>
      </ol>
      <ul>
        <li ng-repeat="symbol in symbols" ng-bind-html="symbol">{{ symbol }}</li>
      </ul>
      <ul>
        <li ng-repeat="n in num track by $index">{{ n }}</li>
      </ul>
    </div>

    <div ng-show="3 + 4 == 5">
      3 + 4 isn't 5, don't show
    </div>

    <div ng-show="3 + 4 == 7">
      3 + 4 is 7, do show
    </div>

    <div ng-hide="3 + 4 == 5">
        3 + 4 isn't 5, don't hide
    </div>

    <div ng-hide="3 + 4 == 7">
      3 + 4 is 7, do hide
    </div>

    <h3>Sign up page</h3>
    <input ng-model="password" type="password" placeholder="Enter your password">
    <p ng-show="password.length > 1">Your password is {{ password.length }} characters</p>
    <p ng-show="password.length == 1">Your password is {{ password.length }} character</p>
    <p ng-show="password.length < 6 && password.length > 0">Your password is invalid</p>
    <button ng-show="password.length >= 6" class="btn btn-warning">Submit</button>

    <script type="text/javascript" src="js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.4/angular.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular-sanitize.js"></script>
    <script>
    var app = angular.module('myApp', ['ngSanitize'])
    app.controller("ForEachController", function($scope) {
      $scope.names = ["Harry", "Ron", "Hermoine", "Sirius", "Hedwig", "Tonks"];
      $scope.symbols = ["&spades;", "&clubs;", "&hearts;", "&diams;"];
      $scope.num = [1,1,2,5,6,9,9,9];
    });
    app.controller("DuplicateController", function($scope) {
    })
    </script>

  </body>
</html>
